* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --primary-background-color: #0c0c0ce0;
  --secondary-background-color: #0c0c0c43;
  --text-color: white;
  --btn-background-color: aqua;
  --btn-color: black;
}

.light {
  --primary-background-color: #24cfa6;
  --secondary-background-color: #0000004d;
  --text-color: black;
  --btn-background-color: pink;
  --btn-color: white;
}
#main {
  height: 100%;
  width: 100%;
  background-color: var(--primary-background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  transition: all 0.5 ease-in-out 0.5;
}

.card {
  height: 20%;
  width: 30%;
  background-color: var(--secondary-background-color);
  margin: auto;
  text-align: center;
  border-radius: 10px;
  margin-top: 2rem;
  padding-top: 1rem;
  backdrop-filter: blur(10px);
}

.card h2 {
  margin: 1rem 0;
}

#main h1 {
  margin: auto;
}

#main button {
  width: 8%;
  height: 4%;
  background-color: var(--btn-background-color);
  border-radius: 50px;
  margin: auto;
  color: var(--btn-color);
}
